MONGO_URI=mongodb://localhost:27017/waste-exchange
MONGO_URI=mongodb+srv://atharvsalvi22_db_user:zNaulKNtOVlEieYi@enigma.9grqsnb.mongodb.net/?appName=enigma
JWT_SECRET=v7Kq9X!mR2#pL8@zN4$wT6&cY1^fH3*
JWT_REFRESH_SECRET=Q8#vN2!xR7@kL4$zT9^mP6&wC3*Y5hG
DEMO_MODE=false
PAYMENT_MODE=simulated
PORT=3000
